[submodule "support/ch32fun"]
	path = support/ch32fun
	url = https://github.com/lhartmann/ch32fun.git
[submodule "support/PYPIOC"]
	path = support/PYPIOC
	url = https://github.com/Kanken6174/PYPIOC.git
[submodule "support/u8g2"]
	path = support/u8g2
	url = https://github.com/olikraus/u8g2
